
<!-- adsterra ninggraingga  -->
<script src="https://pl29624208.effectivecpmnetwork.com/3c/3b/03/3c3b03dbcdf75e2e3e008ba0832b0d55.js"></script>


<!-- eroadverstising - Awal  -->
<!-- eroadverstising - native webpush -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206338&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"native_webpush","sid":8206338});
</script>
<!-- eroadverstising - native bar -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206341&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"native_bar","sid":8206341});
</script>
<!-- eroadverstising - interstitial video  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206343&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"videoslider","isflt":1,"sid":8206343,"advertise":"advertisement"});
</script>
<!-- eroadverstising - interstitial Natvie  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206344&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"native","isflt":1,"sid":8206344});
</script>
<!-- eroadverstising - Interstitial Banner  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206345&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"floater","sid":8206345,"advertise":"Advertisement"});
</script>
<!-- eroadverstising - Instant Messenger  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206346&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"im","sid":8206346});
</script>
<!-- eroadverstising - InPage Video  -->
<div id="sp_8206347_node" style="max-width:426px;max-height:240px;display:none">&nbsp;</div>

<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206347&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"inpage_video","sid":8206347,"display":"sp_8206347_node","skip_btn":true,"skip_after_sec":5,"show_countdown":true,"skip_position":"top_right","auto_hide":true,"controls":false,"muted":true,"autoplay":true,"loop":true,"advertise":"Advertisement"});
</script>
<!-- eroadverstising - Full Page Interstitial  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206348&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"fpa","sid":8206348,"advertise":"Advertisement"});
</script>
<!-- eroadverstising - Floating Banner  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206350&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"floater","sid":8206350,"advertise":"Advertisement"});
</script>
<!-- eroadverstising - Fixed Instant Messenger Banner  -->
<script charset="utf-8">
if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.easrv.cl/loadeactrl.go?pid=132089&spaceid=8206351&ctrlid=799796");
	document.head.appendChild(js);
}

eaCtrl.add({"plugin":"fxim_banner","sid":8206351,"default_icon":"","default_title":""});
</script>
<!-- eroadverstising - akhir  -->



