<!-- monetag smart link untuk isi otomatis class sponsored-->
<script>
document.addEventListener("DOMContentLoaded", function () {

  /* ===========================
     DAFTAR URL SMARTLINK
     Isi sendiri
  =========================== */
  const daftarUrl = [
    "https://t.co/cKE9W8R0wJ",
"https://t.co/5sk9nTLOAK",
"https://t.co/9uJmxer2wQ",
"https://t.co/l3l678DQMN",
"https://t.co/U4ww27aael",
"https://t.co/mMdRI9kINm",
"https://t.co/i7BrLI2yOp",
"https://t.co/eML7shzB6E",
"https://t.co/biXXzX3kjP",
"https://t.co/5GXIFrTV4J",
"https://t.co/8UDdqBg7IW",
"https://t.co/RJowzvjrMC",
"https://t.co/34ctgGbrOo",
"https://t.co/lZC4YZHooO",
"https://t.co/nkATYr3eJN",
"https://t.co/P16w1BmU06",
"https://t.co/3NumFiXDs4",
"https://t.co/Ylex0jRs68",
"https://t.co/dexdsYhI9M",
"https://t.co/ZvQCznMTNx"
  ];

  if (!daftarUrl.length) return;

  // Acak array (Fisher-Yates)
  function shuffle(arr) {
    const a = [...arr];
    for (let i = a.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
  }

  let urlAcak = shuffle(daftarUrl);
  let index = 0;

  // Hanya <a> di dalam .sponsored
  const links = document.querySelectorAll(".sponsored a");

  links.forEach(function(link) {

    if (index >= urlAcak.length) {
      urlAcak = shuffle(daftarUrl);
      index = 0;
    }

    link.href = urlAcak[index++];
    link.rel = "nofollow sponsored";
  });

});
</script>
