---
layout: default
disqus: false
archive: true
post_class: post-template
---

{% include /indri/indri02.html %}
{% include awal-body.html %}
<br />
<main><article>
<!-- Post Featured Image -->
{% if page.image %}

  {% if site.lazyimages == "enabled" %}
  <img class="featured-image lazyimg"
       src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
       data-src="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
       alt="{{ page.title }}"
       style="display:block;width:100%;height:auto;max-width:100%;object-fit:cover;border-radius:8px;">
  {% else %}
  <img class="featured-image"
       src="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
       alt="{{ page.title }}"
       style="display:block;width:100%;height:auto;max-width:100%;object-fit:cover;border-radius:8px;">
  {% endif %}

{% endif %}
<!-- End Featured Image -->

{{content}}
</article></main>
<br /><br />
{% include disqus.html %}
{% include related-post.html %}
{% include file01.html %}
{% include footer.html %}
<br /><br /><br />
