name: Auto Convert Inline SVG to WebP/PNG

on:
  push:
    branches: [ "main" ]

jobs:
  convert_svg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm init -y
          npm install jsdom sharp fs-extra

      - name: Run conversion script
        run: node scripts/extract-svg.js
        shell: bash

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto convert inline SVG to PNG/WebP & inject <picture>"
