name: Mirror Upstream (Force Sync)

on:
  schedule:
    - cron: "0 * * * *"   # tiap 1 jam
  workflow_dispatch:

permissions:
  contents: write

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout fork
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: master

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/nengmaya538/nengmaya538.github.io.git
          git fetch upstream

      - name: Hard reset to upstream
        run: |
          git checkout master
          git reset --hard upstream/master

      - name: Force push to fork
        run: |
          git push origin master --force
